header .logo {
    width: 150px;
    height: auto;
}

/* stilizam logoutul */
header .logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

header .profile-photo{
    height:50px;
    border-radius: 25px;
}
